
}/* Color Theme Swatches in Hex */
.PRICIPAL{ color: #F2133C; }
.BLACKGROUD { color: #0A3859; }
.FASHION { color: #0F698C; }
.FASHIO { color: #0D758C; }
.DESTAQIE { color: #F289AC; }

/
{
    BLACKGROUD:#F289AC;;
    COLOR:#0A3859;;

}
